body, html {
    padding: 0;
    margin: 5;
    height: 100%;
    overflow: visible;
}

::-webkit-scrollbar {
    display: none;
}

#text {
    position: absolute;
    font-family: 'assets/slkscre.ttf', monospace;
    font-smooth: never;
    font-size: 35px;
    bottom: 180px;
    left: 25px;
}
